[Unit]
Description=synapseservice

[Service]
Type=simple
User={{ riot_user }}
PermissionsStartOnly=true
WorkingDirectory={{ synapse_virtualenv }}
ExecStartPre=source {{ synapse_virtualenv }}/bin/activate
ExecStart={{ synapse_virtualenv }}/bin/synctl start

[Install]
WantedBy=multi-user.target
